---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Dashboard">
    <body>
        <div class="sidebar">
            <div class="logo"></div>
            <ul class="menu">
                <li class="active">
                    <a href="#">
                        <i class="fas fa-tachometer-alt"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa-solid fa-people-group"></i>
                        <span>Personal</span>
                    </a>
                </li>

                <li class="logout">
                    <a href="#">
                        <i class="fas fa-sign-out-alt"></i>
                        <span>Cerrar Sesión</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="main--content">
            <div class="header--wrapper">
                <div class="header--title">
                    <span>Primary</span>
                    <h2>Dashboard</h2>
                </div>
                <div class="user--info">
                    <img src="/images/img.jpg" alt="" />
                </div>
            </div>

            <div class="card--container">
                <h3 class="main--title">DATOS DEL PRODUCTO</h3>
                <div class="card--wrapper">
                    <div class="card--image">
                        <img src="/images/producto.jpg" alt="" />
                    </div>
                    <div class="card--button">
                        <!-- modal-agregar -->
                        <label class="card--button__label" for="btn-modal"
                            >Agregar</label
                        >

                        <input type="checkbox" id="btn-modal" />
                        <div class="container-modal">
                            <div class="content-modal">
                                <h2>Agregar Producto</h2>
                                <hr
                                    style="height: 1px; background-color: #fff;"
                                />
                                <form class="form" action="">
                                    <div class="form--div">
                                        <div>
                                            <label for="">Nombre:</label>
                                            <input type="text" />
                                            <br />
                                            <label for="">Precio:</label>
                                            <input type="text" />
                                            <br />
                                            <label for="">Cantidad:</label>
                                            <input type="text" />
                                            <br />
                                            <label for="">Marca:</label>
                                            <input type="text" />
                                        </div>
                                    </div>
                                    <hr
                                        style="height: 1px; background-color: #fff;"
                                    />
                                    <div class="btn">
                                        <label for="btn-modal">Cerrar</label>
                                        <button>Agregar</button>
                                    </div>
                                </form>
                            </div>
                            <label for="btn-modal" class="cerrar-modal"></label>
                        </div>
                        <!-- modal-agregar (fin) -->

                        <!-- modal-consultar -->

                        <label class="card--button__label" for="btn-modal2"
                            >Consultar</label
                        >

                        <input type="checkbox" id="btn-modal2" />
                        <div class="container-modal2">
                            <div class="content-modal2">
                                <h2>Consultar Producto</h2>
                                <hr
                                    style="height: 1px; background-color: #fff;"
                                />
                                <div class="search--box">
                                    <i class="fa-solid fa-search"></i>
                                    <input type="text" placeholder="Search" />
                                </div>
                                <div class="table-container2">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Nombre</th>
                                                <th>Precio</th>
                                                <th>Cantidad</th>
                                                <th>Marca</th>
                                                <th>Accion</th>
                                            </tr>
                                            <tbody>
                                                <tr>
                                                    <td>00001</td>
                                                    <td>Arroz</td>
                                                    <td>$50</td>
                                                    <td>100</td>
                                                    <td>Costeño</td>
                                                    <td>
                                                        <label for="btn-modal3"
                                                            >Edit</label
                                                        >
                                                        <button
                                                            style="color: red;"
                                                            >Delet</button
                                                        >
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>00002</td>
                                                    <td>Azucar</td>
                                                    <td>$20</td>
                                                    <td>100</td>
                                                    <td>Rubia</td>
                                                    <td>
                                                        <label for="btn-modal3"
                                                            >Edit</label
                                                        >
                                                        <button
                                                            style="color: red;"
                                                            >Delet</button
                                                        >
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>#</td>
                                                    <td>#</td>
                                                    <td>#</td>
                                                    <td>#</td>
                                                    <td>#</td>
                                                    <td>
                                                        <label for="btn-modal3"
                                                            >Edit</label
                                                        >
                                                        <button
                                                            style="color: red;"
                                                            >Delet</button
                                                        >
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>#</td>
                                                    <td>#</td>
                                                    <td>#</td>
                                                    <td>#</td>
                                                    <td>#</td>
                                                    <td>
                                                        <label for="btn-modal3"
                                                            >Edit</label
                                                        >
                                                        <button
                                                            style="color: red;"
                                                            >Delet</button
                                                        >
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>#</td>
                                                    <td>#</td>
                                                    <td>#</td>
                                                    <td>#</td>
                                                    <td>#</td>
                                                    <td>
                                                        <label for="btn-modal3"
                                                            >Edit</label
                                                        >
                                                        <button
                                                            style="color: red;"
                                                            >Delet</button
                                                        >
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </thead>
                                    </table>
                                </div>
                                <hr
                                    style="height: 1px; background-color: #fff;"
                                />
                                <div class="btn">
                                    <label for="btn-modal2">Cerrar</label>
                                </div>
                            </div>
                            <label for="btn-modal2" class="cerrar-modal"
                            ></label>
                        </div>

                        <!-- modal-consultar (fin) -->
                    </div>
                </div>
                <div class="tabular--wrapper">
                    <h3 class="main-title">Tabla del Producto</h3>
                    <div class="table-container">
                        <form action="">
                            <table>
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nombre</th>
                                        <th>Precio</th>
                                        <th>Cantidad</th>
                                        <th>Marca</th>
                                        <th>Accion</th>
                                    </tr>
                                    <tbody>
                                        <tr>
                                            <td>00001</td>
                                            <td>Arroz</td>
                                            <td>$50</td>
                                            <td>100</td>
                                            <td>Costeño</td>
                                            <td>
                                                <label for="btn-modal3"
                                                    >Edit</label
                                                >
                                                <button style="color: red;"
                                                    >Delet</button
                                                >
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>00002</td>
                                            <td>Azucar</td>
                                            <td>$20</td>
                                            <td>100</td>
                                            <td>Rubia</td>
                                            <td>
                                                <label for="btn-modal3"
                                                    >Edit</label
                                                >
                                                <button style="color: red;"
                                                    >Delet</button
                                                >
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>#</td>
                                            <td>#</td>
                                            <td>#</td>
                                            <td>#</td>
                                            <td>#</td>
                                            <td>
                                                <label for="btn-modal3"
                                                    >Edit</label
                                                >
                                                <button style="color: red;"
                                                    >Delet</button
                                                >
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>#</td>
                                            <td>#</td>
                                            <td>#</td>
                                            <td>#</td>
                                            <td>#</td>
                                            <td>
                                                <label for="btn-modal3"
                                                    >Edit</label
                                                >
                                                <button style="color: red;"
                                                    >Delet</button
                                                >
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>#</td>
                                            <td>#</td>
                                            <td>#</td>
                                            <td>#</td>
                                            <td>#</td>
                                            <td>
                                                <label for="btn-modal3"
                                                    >Edit</label
                                                >
                                                <input
                                                    type="checkbox"
                                                    id="btn-modal3"
                                                />
                                                <div class="container-modal3">
                                                    <div class="content-modal3">
                                                        <h2>Editar Producto</h2>
                                                        <div class="form">
                                                            <hr
                                                                style="height: 1px; background-color: #fff;"
                                                            />
                                                            <div
                                                                class="form--div"
                                                            >
                                                                <div
                                                                    class="form--div2"
                                                                >
                                                                    <label
                                                                        for=""
                                                                        >ID:</label
                                                                    >
                                                                    <input
                                                                        type="text"
                                                                        readonly
                                                                    />
                                                                    <br />
                                                                    <label
                                                                        for=""
                                                                        >Nombre:</label
                                                                    >
                                                                    <input
                                                                        type="text"
                                                                    />
                                                                    <br />
                                                                    <label
                                                                        for=""
                                                                        >Precio:</label
                                                                    >
                                                                    <input
                                                                        type="text"
                                                                    />
                                                                    <br />
                                                                    <label
                                                                        for=""
                                                                        >Cantidad:</label
                                                                    >
                                                                    <input
                                                                        type="text"
                                                                    />
                                                                    <br />
                                                                    <label
                                                                        for=""
                                                                        >Marca:</label
                                                                    >
                                                                    <input
                                                                        type="text"
                                                                    />
                                                                </div>
                                                            </div>
                                                            <hr
                                                                style="height: 1px; background-color: #fff;"
                                                            />
                                                            <div class="btn">
                                                                <label
                                                                    for="btn-modal3"
                                                                    >Cerrar</label
                                                                >
                                                                <button
                                                                    >Editar</button
                                                                >
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <label
                                                        for="btn-modal3"
                                                        class="cerrar-modal"
                                                    ></label>
                                                </div>
                                                <button style="color: red;"
                                                    >Delet</button
                                                >
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="7"
                                                >*Solo se muestran los 5 ultimos
                                                registros*</td
                                            >
                                        </tr>
                                    </tfoot>
                                </thead>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</Layout>

<style>
    /*  import google fonts */
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
    * {
        margin: 0;
        padding: 0;
        border: none;
        outline: none;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
    }
    body {
        display: flex;
        margin: 0;
        padding: 0;
    }
    body::-webkit-scrollbar {
        display: none;
    }
    .sidebar {
        position: sticky;
        top: 0;
        left: 0;
        bottom: 0;
        width: 110px;
        height: 100vh;
        padding: 0 1.7rem;
        color: #fff;
        overflow: hidden;
        transition: all 0.5s linear;
        background: rgba(113, 99, 186, 255);
    }
    .sidebar:hover {
        width: 270px;
        transition: 0.5s;
    }
    .logo {
        height: 80px;
        padding: 16px;
    }
    .menu {
        height: 88%;
        position: relative;
        list-style: none;
        padding: 0;
    }
    .menu li {
        padding: 1rem;
        margin: 8px 0;
        border-radius: 8px;
        transition: all 0.5s ease-in-out;
    }
    .menu li:hover,
    .active {
        background: #e0e0e058;
    }
    .menu a {
        color: #fff;
        font-size: 14px;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }
    .menu a span {
        overflow: hidden;
    }
    .menu a i {
        font-size: 1.2rem;
    }
    .admin {
        position: absolute;
        bottom: 70px;
        left: 0;
        width: 100%;
    }
    .logout {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    /* **** main body section **** */
    .main--content {
        position: relative;
        background: #ebe9e9;
        width: 100%;
        padding: 1rem;
    }

    .header--wrapper img {
        width: 50px;
        height: 50px;
        cursor: pointer;
        border-radius: 50%;
    }
    .header--wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        background: #fff;
        border-radius: 10px;
        padding: 10px 2rem;
        margin-bottom: 1rem;
    }
    .header--title {
        color: rgba(113, 99, 186, 255);
    }
    .user--info {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    /* ******* card container ******* */
    .card--container {
        background-color: #fff;
        padding: 2rem;
        border-radius: 10px;
        margin: 2rem 0;
    }
    .card--wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .main--title {
        color: rgba(113, 99, 186, 255);
        padding-bottom: 10px;
        font-size: 15px;
    }
    .card--image {
        margin-bottom: 20px;
    }
    .card--image img {
        width: 250px;
    }
    .card--button__label {
        padding: 10px 20px;
        margin: 15px;
        border-radius: 15px;
        color: #fff;
        background: #269b26;
        cursor: pointer;
        transition: all 1s;
    }
    .card--button__label:hover {
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.6);
    }

    #btn-modal,
    #btn-modal2,
    #btn-modal3 {
        display: none;
    }

    /* modal-agregar */
    .container-modal {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(144, 148, 150, 0.8);
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 100;
    }
    #btn-modal:checked ~ .container-modal {
        display: flex;
    }
    .content-modal {
        width: 100%;
        max-width: 600px;
        padding: 20px;
        background-color: #5e4ac3;
        border-radius: 4px;
    }
    .content-modal h2 {
        margin-bottom: 15px;
        color: #fff;
    }
    .content-modal .btn {
        width: 100%;
        margin-top: 15px;
        display: flex;
        justify-content: flex-end;
        position: relative;
    }
    .content-modal .btn button {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        padding: 7px 10px;
        background-color: #269b26;
        color: #fff;
        border-radius: 4px;
        cursor: pointer;
        font-weight: bold;
        transition: all 300ms ease;
    }
    .content-modal .btn button:hover {
        background-color: #1ab31f;
    }
    .content-modal .btn label {
        padding: 7px 10px;
        background-color: #d01f1f;
        color: #fff;
        border-radius: 4px;
        cursor: pointer;
        transition: all 300ms ease;
        text-align: center;
    }
    .content-modal .btn label:hover {
        background-color: #ff5a5a;
    }
    .cerrar-modal {
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    .form--div {
        display: flex;
        justify-content: center;
        margin: 20px 0;
    }
    .form label {
        display: inline-block;
        width: 90px;
        color: #fff;
        font-weight: bold;
        font-size: 1rem;
    }
    .form input {
        background-color: #e0e0e0;
        padding: 10px;
        margin: 10px 0;
        border-radius: 1rem;
        border: 3px solid #bcbcbc;
    }
    /* modal-agregar (FIN) */

    /* modal-consultar */
    .container-modal2 {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(144, 148, 150, 0.8);
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 100;
    }
    #btn-modal2:checked ~ .container-modal2 {
        display: flex;
    }
    .content-modal2 {
        width: 100%;
        max-width: 600px;
        padding: 20px;
        background-color: #5e4ac3;
        border-radius: 4px;
    }
    .content-modal2 h2 {
        margin-bottom: 15px;
        color: #fff;
    }
    .content-modal2 .btn {
        width: 100%;
        margin-top: 15px;
        display: flex;
        justify-content: flex-end;
        position: relative;
    }
    .content-modal2 .btn label {
        padding: 7px 10px;
        background-color: #d01f1f;
        color: #fff;
        border-radius: 4px;
        cursor: pointer;
        transition: all 300ms ease;
        text-align: center;
    }
    .content-modal2 .btn label:hover {
        background-color: #ff5a5a;
    }
    .cerrar-modal2 {
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .search--box {
        background: rgb(237, 237, 237);
        border-radius: 15px;
        color: rgba(113, 99, 186, 255);
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 4px 12px;
        margin: 15px 0;
    }
    .search--box input {
        background: transparent;
        padding: 10px;
        width: 100%;
    }
    .search--box i {
        font-size: 1.2rem;
        cursor: pointer;
        transition: all 0.5s ease-out;
    }
    .search--box i:hover {
        transform: scale(1.2);
    }
    /* modal-consultar (FIN) */

    /* modal-editar */
    .container-modal3 {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(144, 148, 150, 0.8);
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 100;
    }
    #btn-modal3:checked ~ .container-modal3 {
        display: flex;
    }
    .content-modal3 {
        width: 100%;
        max-width: 600px;
        padding: 20px;
        background-color: #5e4ac3;
        border-radius: 4px;
    }
    .content-modal3 h2 {
        margin-bottom: 15px;
        color: #fff;
    }
    .content-modal3 .btn {
        width: 100%;
        margin-top: 15px;
        display: flex;
        justify-content: flex-end;
        position: relative;
    }
    .content-modal3 .btn button {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        padding: 7px 10px;
        background-color: #269b26;
        color: #fff;
        border-radius: 4px;
        cursor: pointer;
        font-weight: bold;
        transition: all 300ms ease;
    }
    .content-modal3 .btn button:hover {
        background-color: #1ab31f;
    }
    .content-modal3 .btn label {
        padding: 7px 10px;
        background-color: #d01f1f;
        color: #fff;
        border-radius: 4px;
        cursor: pointer;
        transition: all 300ms ease;
        text-align: center;
    }
    .content-modal3 .btn label:hover {
        background-color: #ff5a5a;
    }
    .cerrar-modal {
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    .form--div {
        display: flex;
        justify-content: center;
        margin: 20px 0;
    }
    .form label {
        display: inline-block;
        width: 90px;
        color: #fff;
        font-weight: bold;
        font-size: 1rem;
    }
    .form input {
        background-color: #e0e0e0;
        padding: 10px;
        margin: 10px 0;
        border-radius: 1rem;
        border: 3px solid #bcbcbc;
    }
    /* modal-editar (FIN) */

    /* General Tabla */
    table td label {
        color: #269b26;
        cursor: pointer;
    }

    /* ***** tabular section ***** */
    .tabular--wrapper {
        background: #fff;
        margin-top: 1rem;
        border-radius: 10px;
        padding: 2rem;
    }
    .table-container {
        width: 100%;
    }
    table {
        width: 100%;
        border-collapse: collapse;
    }
    thead {
        background: rgba(113, 99, 186, 255);
        color: #fff;
    }
    th {
        padding: 15px;
        text-align: left;
    }
    tbody {
        background: #f2f2f2;
    }
    td {
        padding: 15px;
        font-size: 14px;
        color: #333;
    }
    tr:nth-child(even) {
        background: #fff;
    }
    tfoot {
        background: rgba(113, 99, 186, 255);
        font-weight: bold;
        color: #fff;
    }
    tfoot td {
        padding: 15px;
        color: #fff;
    }
    .table-container button {
        color: green;
        background: none;
        cursor: pointer;
    }

    /* tabla para la ventana modal-consultar */
    .table-container2 {
        width: 100%;
        margin-bottom: 15px;
    }
    .table-container2 table {
        width: 100%;
        border-collapse: collapse;
    }
    .table-container2 thead {
        background: rgba(113, 99, 186, 255);
        color: #fff;
    }
    .table-container2 th {
        padding: 15px;
        text-align: left;
    }
    .table-container2 tbody {
        background: #f2f2f2;
    }
    .table-container2 td {
        padding: 15px;
        font-size: 14px;
        color: #333;
    }
    .table-container2 tr:nth-child(even) {
        background: #fff;
    }
    .table-container2 button {
        color: green;
        background: none;
        cursor: pointer;
    }
</style>
