/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    display: flex;
}
body::-webkit-scrollbar {
    display: none;
}
.sidebar {
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 110px;
    height: 100vh;
    padding: 0 1.7rem;
    color: #fff;
    overflow: hidden;
    transition: all 0.5s linear;
    background: rgba(113, 99, 186, 255);
}
.sidebar:hover {
    width: 270px;
    transition: 0.5s;
}
.logo {
    height: 80px;
    padding: 16px;
}
.menu {
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;
}
.menu li {
    padding: 1rem;
    margin: 8px 0;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}
.menu li:hover, 
.active {
    background: #e0e0e058;
}
.menu a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.menu a span {
    overflow: hidden;
}
.menu a i {
    font-size: 1.2rem;
}
.admin {
    position: absolute;
    bottom: 70px;
    left: 0;
    width: 100%;
}
.logout {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* **** main body section **** */
.main--content {
    position: relative;
    background: #ebe9e9;
    width: 100%;
    padding: 1rem;
}

.header--wrapper img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
}
.header--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #fff;
    border-radius: 10px;
    padding: 10px 2rem;
    margin-bottom: 1rem;
}
.header--title {
    color: rgba(113, 99, 186, 255);
}
.user--info {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.search--box {
    background: rgb(237, 237, 237);
    border-radius: 15px;
    color: rgba(113, 99, 186, 255);
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 4px 12px;
}
.search--box input {
    background: transparent;
    padding: 10px;
}
.search--box i {
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-out;
}
.search--box i:hover {
    transform: scale(1.2);
}


/* ******* card container ******* */
.card--container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    margin: 2rem 0;
}
.card--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main--title {
    color: rgba(113, 99, 186, 255);
    padding-bottom: 10px;
    font-size: 15px;
}
.card--image {
    margin-bottom: 20px;
}
.card--image img {
    width: 250px;
}
.card--button__label{
    padding: 10px 20px;
    margin: 15px;
    border-radius: 15px;
    color: #fff;
    background: #269b26;
    cursor: pointer;
    transition: all 1s;
}
.card--button__label:hover {
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.6);
}


#btn-modal {
    display: none;
}
.container-modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(144, 148, 150, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
#btn-modal:checked ~ .container-modal {
    display: flex;
}
.content-modal {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: #5e4ac3;
    border-radius: 4px;
}
.content-modal h2 {
    margin-bottom: 15px;
    color: #fff;
}
.content-modal .btn {
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.content-modal .btn button {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 7px 10px;
    background-color: #269b26;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}
.content-modal .btn button:hover {
    background-color: #1ab31f;
}
.content-modal .btn label {
    padding: 7px 10px;
    background-color: #d01f1f;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}
.content-modal .btn label:hover {
    background-color:#ff5a5a;
}
.cerrar-modal{
    width:100%;
    height: 100vh;
    position: absolute;
    top:0; left: 0;
    z-index: -1;
}
.form {
    padding: 20px;
    display: flex;
    justify-content: center;
}
.form label {
    display: inline-block;
    width: 90px;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
}
.form input {
    background-color: #e0e0e0;
    padding: 10px;
    margin: 10px 0;
    border-radius: 1rem;
    border: 3px solid #bcbcbc;
    
}

/* ***** tabular section ***** */
.tabular--wrapper {
    background: #fff;
    margin-top: 1rem;
    border-radius: 10px;
    padding: 2rem;
}
.table-container {
    width: 100%;
}
table {
    width: 100%;
    border-collapse: collapse;
}
thead {
    background: rgba(113, 99, 186, 255);
    color: #fff;
}
th {
    padding: 15px;
    text-align: left;
}
tbody {
    background: #f2f2f2;
}
td {
    padding: 15px;
    font-size: 14px;
    color: #333;
}
tr:nth-child(even) {
    background: #fff;
}
tfoot{
    background: rgba(113, 99, 186, 255);
    font-weight: bold;
    color: #fff;
}
tfoot td{
    padding: 15px;
    color: #fff;
}
.table-container button {
    color: green;
    background: none;
    cursor: pointer;
}
